/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../image1.jpg');
    background-size: cover;
  }
  
  .login-box {
    background-color: rgba(28, 28, 28, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .login-box h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .forgot-password {
    color: #1e90ff;
    cursor: pointer;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .signup-link {
    text-align: center;
    color: #ffffff;
  }
  
  .signup-link a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  .btn {
    background-color: #21bf73;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #1e9b60;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .toggle-password-btn {
    position:absolute;
    top:36%;
    transform: translateY(-50%); /* Adjust for vertical centering */
    right: 0px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding: 0;
  }
  
  .toggle-password-btn:focus {
    outline: none;
  }
  
  .toggle-password-btn i {
    font-size: 16px;
    padding-bottom: 1em;
  }

  .signup-link {
    text-align: center;
    padding-left: 1em;
  }
  